@font-face {
    font-family: 'Noto';
    src: url(./font/NotoSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100%;
    font-family: 'Noto';
    font-weight: 500;
}

.custom-select {
    width: 100%;
    text-align: center;
    margin-block: 1rem;
}

.custom-select select {
    color: black;
    appearance: none;
    outline: none;
    width: 50%;
    height: 3rem;
    font-size: 1rem;
    margin-block: 1rem;
    padding: 10px;
    border: 1px solid #caced1;
    border-radius: 5px;
    cursor: pointer;
}
.custom-select select:focus {
    border: 1px solid  #1d7fb8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.current-meto-day {
    height: fit-content;
    width: 95%;
    padding: 2rem 0;
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient(-150deg, #020423, #041630, #0b364f, rgb(0, 187, 125));
}

.current-meto-day .title {
    margin-bottom: 1rem;
}

.current-meto-day .top {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-meto-day .top img {
    width: 20%;
    filter: invert(100%) brightness(1000%);
}

.current-meto-day .values {
    display: grid;
    grid-template-rows: 4rem 4rem 4rem 4rem;
    grid-template-columns: 10rem 10rem;
    justify-content: center;
    align-items: center;
}

.current-meto-day .values div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-meto-day .values div img {
    margin: 0 1rem;
    width: 25%;
    filter: invert(100%) brightness(1000%);
}

.loading {
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.circle {
    height: 100px;
    width: 100px;
    border: 15px solid gray;
    border-right: 15px solid rgb(0, 208, 255);
    box-shadow: 2px 0px 10px -1px rgb(0, 208, 255);
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




/* 
.meteo-day{
    height: 500px;
    width: 600px;
    border-radius: 20px;
    background-image: linear-gradient(-150deg, #020423, #041630, #0b364f, rgb(0, 187, 125));
    display: grid;
    grid-template-rows: 250px 250px ;
    grid-template-columns: 170px 170px 170px;
    justify-content: space-around;
    align-items: center;
}
.one_day {
    height: 230px;
    width: 170px;
    background-color: #dddddd32;
    border-radius: 20px;
}
.one_day p {
    margin-top: 5%;
}
.meteo-day .one_day div{
    display: flex;
    align-items: center;

}
.meteo-day .one_day div img {
    margin: 0 15% 0 20%;
    width: 20%;
}
.meteo-day .one_day span{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.meteo-day .one_day span div{
    flex-direction: column;

}
.t_magin{
    margin: 9px 0;
}


 */